:root {
  --color-primary: lightskyblue;
  --color-secondary: darkslateblue;
  --color-dark: darkgray;
  --color-light: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: darkslateblue;
    --color-secondary: lightskyblue;
    --color-dark: white;
    --color-light: darkgray;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: asakim, Roboto, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
