@import './base.css';

#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

.icon {
  &.small {
    height: 1.25rem;
  }

  &.large {
    height: 12rem;
  }
}

.button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  background-color: white;
  color: darkslateblue;

  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.12) 0px 1px 3px,
      rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}
